body h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

img {
  padding: 0;
  border: none;
}

#about div{
  width: 400px;
  height: 475px;

}

#about img {
  margin-left: 25px;
  height: 350px;
  width: 350px;
}

#about-ul-one {
  float: left;
  margin-left: 20%;
  display: inline-block;
}

#about-ul-two {
  float: right;
  margin-right: 20%;
  display: inline-block;
}

#special {
  margin-top: 1025px;
}

#about p {
  text-align: center;
}
