body {
  font-family: 'VT323', serif;
  color: white;
  background-color: black;
}

body h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

header {
  background-color: red;
  height: 80px;
}

main {
  background-image: url('images/map.png');
  width: auto;
}

img {
  padding: 0;
}

#character-menu ul li {
  display: inline-block;
  padding: 0;
}

#secret-menu ul li {
  display: inline-block;
}

#character-menu ul {
  margin-left: 20%;
}

#secret-menu ul {
  margin-left: 20%;
}

#logo {
  margin-left: 42%;
  padding: 0;
}

#character-menu {
  margin-top: 90px;
}

#secret-menu {
  margin-top: 80px;
  margin-left: 9%;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 50px;
  width: 100px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #c9c9c9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
